In [1]:
import pandas as pd

In [2]:
dfresult = pd.read_excel('sample_posts_20220324_1.xlsx', '601607_from_guba', engine='openpyxl')

In [23]:
df = pd.read_excel('gb_roberta_dianp_ratings.xlsx', engine = 'openpyxl')

In [24]:
def convert(list):
      
    # Converting integer list to string list
    s = [str(i) for i in list]
      
    # Join list items using join()
    res = int("".join(s))
      
    return(res)

In [25]:
df.head(1)

,Unnamed: 0,ticker,ticker_name,url,post_id,post_title,post_abstract,post_content,clean_cmt,ratings
0,0,601607,上海医药,"https://guba.eastmoney.com/news,601607,9261090...",926109040,上药垃圾，都不要买,上药垃圾，都不要买,上药垃圾，都不要买,上药垃圾都不要买,"[{'label': 'negative (stars 1, 2 and 3)', 'sco..."

In [30]:
clean_dg = []
for i in range(len(df.head(110))):
    if 'negative' in df['ratings'][i]:
        a = 0
    else:
        a = 1
    clean_dg.append(a)

import re
clean_dg = []
for i in range(len(df.head(110))):
    s = list(int(s) for s in re.findall(r'-?\d+\.?\d*', df['ratings'][i][12:19]))
    s = convert(s)
    clean_dg.append(s)

In [32]:
dfresult.head(1)

,ticker,ticker_name,url,post_id,post_title,post_abstract,post_content,score,jd,human
0,601607,上海医药,"https://guba.eastmoney.com/news,601607,9261090...",926109040,上药垃圾，都不要买,上药垃圾，都不要买,上药垃圾，都不要买,1.0,0,0

In [33]:
dfresult = dfresult.head(110)
dfresult['dianp'] = clean_dg

In [12]:
human = []
for i in range(len(dfresult)):
    if dfresult['score'][i] >= 3:
        a = 1
    else:
        a = 0
    human.append(a)
dfresult['human'] = human

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
jd = []
for i in range(len(dfresult)):
    if dfresult['jd'][i] >= 3:
        a = 1
    else:
        a = 0
    jd.append(a)
dfresult['jd'] = jd

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
dfresult.to_excel('gb_jd_result.xlsx')

In [34]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
test = list(dfresult['human'])
predict = list(dfresult['dianp'])
accuracy = accuracy_score(test, predict)
precision = precision_score(test, predict)
recall = recall_score(test, predict)
f1 = f1_score(test, predict)

In [35]:
print(accuracy)
print(precision)
print(recall)
print(f1)

0.5727272727272728
1.0
0.3088235294117647
0.4719101123595506